{% extends "src/html/modules/base.html" %}
{% block content %}
<section class="headline">
  <div class="text wrap-container">
    <div class="wrap">
      <h3 class="subtitle">Welcome to</h3>
      <h2 class="title">MotioSecure</h2>
      <div class="parts">
        <p class="copy col-md-5">simple security platform leveraging  computer vision and motion detection robust enough for cheap, low-quality cameras
        </p>
        <a href="#" class="button">Get Started</a>
      </div>
    </div>
  </div>
  <div class="confetti">

  </div>
  <div class="blocks">
    <div class="block b1"></div>
    <div class="block b2"></div>
    <div class="block b3">
      <div class="block-slice"></div>
    </div>
    <div class="block b4"></div>
    <div class="block b5"></div>
  </div>
  <div class="background">
    <div class="background-slice"></div>
  </div>
</section>
{% endblock %}
