{% extends "src/html/modules/base.html" %}
{% block content %}
<section class="headline">
  <div class="text wrap-container">
    <div class="wrap">
      <h3 class="subtitle">Welcome to</h3>
      <h2 class="title">MotioSecure</h2>
      <div class="parts">
        <p class="copy col-md-5">simple security platform leveraging  computer vision and motion detection robust enough for cheap, low-quality cameras
        </p>
        <a href="/mac-2" class="button">Get Started</a>
      </div>
    </div>
    <p class="byline">Computer Vision for (non-serious) Security . created by Alvin Wan</p>
  </div>
  {% include "src/html/modules/confetti.html" %}
  {% include "src/html/modules/blocks.html" %}
  {% include "src/html/modules/background_right.html" %}
</section>
{% endblock %}
