{% extends "base.html" %}
{% block title %}
MotioSecure Monitor
{% endblock %}
{% block content %}
<p>Monitoring started
<ul>
    <li>Motion Detected: <span id="detected"></span></li>
</ul>
<script>
    window.onload = function() {
        var ws = new WebSocket("ws://127.0.0.1:{{ port }}/");
        var status = document.getElementById('detected');
        ws.onmessage = function (event) {
            status.innerHTML = event.data;
            console.log(event.data);
        };
    }
</script>
{% endblock %}
